@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
header {
  margin-bottom: 10px;
}
section {
  padding: 10px;
  clear: both;
  display: block;
}
section.relative {
  position: relative;
}
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar button:active,
.navbar button:focus {
  border: none !important;
}
.navbar-toggler {
  color: #fff;
  /* border: 1px solid #ffffff; */
}
.home-banner {
  background: linear-gradient(45deg, #8911fc 25%, #6e0ff5 65%);
  color: #fff;
  height: 550px;
}
.navbar-collapse a {
  color: #e2d6ef;
  transition: all 300ms ease-in-out;
}
.navbar-collapse a:hover {
  color: #ffd63f;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #6f0bfd;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.35);
    position: relative;
  }
  /* .navbar-collapse::after {
    content: url("/images/up.png");
    position: absolute;
    top: -18px;
    right: 15px;
  } */

  .navbar-nav .nav-link {
    border-bottom: 1px solid rgba(137, 17, 252, 0.3);
    margin: 0 25px;

    line-height: 1.25;
  }
}
.v-center {
  align-self: center;
}
.hero-text {
  font-size: 3.5rem;
  line-height: 1.5;
}
.-txt- {
  text-align: center;
}
